{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Encuesta" %}{% endblock %}

{% block body %}
    {% include "evento/encabezado_evento.html" %}
    
    
    <div class="post">
        <h2>{% trans "Encuesta" %}</h2>
        <p>
            <pre>{{ descripcion }}</pre>
        </p>
        <p>
            {% for item in items %}
                
                {{ forloop.counter }} - {{ item.nombre }}
                <br/>
            {% endfor %}
        </p>
        <img src="{{ grafico }}" alt="{{ grafico }}" />
    </div>
{% endblock %}
