{% extends "base.html" %}
{% load i18n adminmedia %}
{% load url from future %}

{% block head_title %}{% trans 'Cambiar contraseña' %}{% endblock %}

{% block body %}<div id="content-main">

<form action="" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count form.errors.items|length as counter %}Por favor, corrija el siguiente error.{% plural %}Por favor, corrija los siguientes errores.{% endblocktrans %}
    </p>
{% endif %}

<h3>{% trans "Cambio de contraseña" %}</h3>

<p>{% trans "Por favor, introduzca su contraseña antigua, por seguridad, y después introduzca la nueva contraseña dos veces para verificar que la ha escrito correctamente." %}</p>

<fieldset class="module aligned wide">

<div class="form-row">
    {{ form.old_password.errors }}
    <label for="id_old_password" class="required">{% trans 'Contraseña antigua' %}:</label>{{ form.old_password }}
</div>

<div class="form-row">
    {{ form.new_password1.errors }}
    <label for="id_new_password1" class="required">{% trans 'Contraseña nueva' %}:</label>{{ form.new_password1 }}
</div>

<div class="form-row">
{{ form.new_password2.errors }}
    <label for="id_new_password2" class="required">{% trans 'Contraseña (de nuevo)' %}:</label>{{ form.new_password2 }}
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="{% trans 'Cambiar mi contraseña' %}" class="default" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>

{% endblock %}
