{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans 'Restablecer contraseña' %}{% endblock %}

{% block body %}

{% if validlink %}

<h3>{% trans 'Introduzca una nueva contraseña' %}</h3>

<p>{% trans "Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="{% trans 'Cambiar mi contraseña' %}" /></p>
</form>

{% else %}

<h1>{% trans 'Restablecimiento de contraseña fallido' %}</h1>

<p>{% trans "El enlace de restablecimiento de contraseña era invalido, seguramente por haberse utilizado previamente. Por favor, solicite un nuevo restablecimiento de contraseña." %}</p>

{% endif %}

{% endblock %}
