{% load i18n %}
{% load url from future %}
{% autoescape off %}
{% blocktrans %}Usted está recibiendo este e-mail porque usted solicitó un restablecimiento de contraseña para su cuenta de usuario en {{ site_name }}.{% endblocktrans %}

{% trans "Por favor, vaya a la página siguiente y escoja una nueva contraseña." %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}
{% trans "Su nombre de usuario, en caso de haberlo olvidado:" %} {{ user.username }}

{% trans "¡Gracias por usar nuestro sitio" %}

{% endautoescape %}
