{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Eventos' %}{% endblock %}
{% block contenido %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="text-left">Listar <a href="{% url 'event:create' %}" class="btn btn-success btn-sm pull-right">Registrar</a></h4>
    </div>

    <div class="panel-body">
      <div class="row table-responsive">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <table class="table table-striped table-hover table-bordered display dataTable" id="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Resumen</th>
                <th>Correo Electrónico</th>
                <th>Logo</th>
                <th>Vídeo</th>
                <th>Cuenta de Twitter</th>
                <th>Cuenta de Facebook</th>
                <th>¿Permitir Presentaciones?</th>
                <th>¿Permitir Suscripciones?</th>
                <th>¿Permitir Publicaciones?</th>
                <th>¿Permitir Comentarios?</th>
                <th>Fecha del Evento</th>
                <th>Fecha Inicial</th>
                <th>Fecha Final</th>
                <th>Estado</th>
                <th>Municipio</th>
                <th>Parroquia</th>
                <th>Dirección</th>
                <th>Operación</th>
              </tr>
            </thead>
            <tbody>
              {% for ev in object_list %}
                <tr>
                  <td> {{ ev.name }} </td>
                  <td> {{ ev.summary }} </td>
                  <td> {{ ev.email }} </td>
                  <td> <img src="media/{{ ev.logo }}" width="100px" height="100px"> </td>
                  <td> {{ ev.video }} </td>
                  <td> {{ ev.twitter_account }} </td>
                  <td> {{ ev.facebook_account }} </td>
                  {% if ev.presentation %}
                    <td> Si </td>
                  {% else %}
                    <td> No </td>
                  {% endif %}
                  {% if ev.subscription %}
                    <td> Si </td>
                  {% else %}
                    <td> No </td>
                  {% endif %}
                  {% if ev.publication %}
                    <td> Si </td>
                  {% else %}
                    <td> No </td>
                  {% endif %}
                  {% if ev.commentary %}
                    <td> Si </td>
                  {% else %}
                    <td> No </td>
                  {% endif %}
                  <td> {{ ev.date }} </td>
                  <td> {{ ev.start_date }} </td>
                  <td> {{ ev.end_date }} </td>
                  <td> {{ ev.location.parish.municipality.state }} </td>
                  <td> {{ ev.location.parish.municipality }} </td>
                  <td> {{ ev.location.parish }} </td>
                  <td> {{ ev.location.address }} </td>
                  <td> <a href="{% url 'event:update' ev.id %}" data-toggle="tooltip" title="Actualizar"><i class="fa fa-pencil"></i></a> <a href="{% url 'event:delete' ev.id %}" data-toggle="tooltip" title="Eliminar"><i class="fa fa-remove"></i></a> </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_footer %}
  <script type="text/javascript">
    $(document).ready(function() {
      var table = $('#table').DataTable();
    });
  </script>
{% endblock %}
