{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Acerca de..." %}{% endblock %}

{% block body %}    
    <div>
        <p><h2 class="centrar">{% trans "Acerca de Sofi" %}</h2></p>
        <p>{% trans "Sofi es una aplicaci&#243;n que gestiona eventos, presentaciones, ponentes y suscripciones." %}</p>
        <p>{% trans "Puede conseguir m&#225;s informaci&#243;n sobre Sofi en" %} <a href="http://sofi.cenditel.gob.ve">http://sofi.cenditel.gob.ve</a></p>
    </div>
{% endblock %}