{% extends "base.html" %}
{% load  i18n %}
{% block head_title %}Licencia{% endblock %}

{% block body %}    
    <div>
        <p><h2 class="centrar">{% trans "Licencia" %}</h2></p>
	<p><b>Nombre del software:</b> Sofi </br>
	<b>Descripción:</b> Gestor de eventos</br>
	<b>Nombre del licenciante y año:</b> Fundación CENDITEL (2009)</br>
	<b>Autores:</b> Alexander Olivares. Modificaciones: William Páez, Julie Vera </p>

	<p>La Fundación Centro Nacional de Desarrollo e Investigación en Tecnologías Libres (CENDITEL), ente adscrito al Ministerio del Poder Popular para Educación Universitaria, Ciencia y Tecnología (MPPEUCT), concede permiso para usar, copiar, modificar y distribuir libremente y sin fines comerciales el SOFTWARE <b>SOFI</b>, sin garantía alguna, preservando el reconocimiento moral de los autores y manteniendo los mismos principios para las obras derivadas, de conformidad con los términos y condiciones de la licencia de software de la Fundación CENDITEL.</p>

	<p>El software es una creación intelectual necesaria para el desarrollo económico y social de la nación, por tanto, esta licencia tiene la pretensión de preservar la libertad de este conocimiento para que contribuya a la consolidación de la soberanía nacional.</p>

	<p>Cada vez que copie y distribuya el SOFTWARE <b>SOFI</b> debe acompañarlo de una copia de la licencia. Para más información sobre los términos y condiciones de la licencia visite la siguiente dirección electrónica: <a href="http://conocimientolibre.cenditel.gob.ve/licencia-de-software-v-1-3/">Ver </a></p>

    </div>
{% endblock %}
