{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Usuario' %}{% endblock %}
{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="text-left">{% if not form.instance.pk %}{% trans 'Registrar' %}{% else %}{% trans 'Actualizar' %}{% endif %}</h4>
    </div>
    <div class="panel-body">
      <form action="" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off">
        {% csrf_token %}

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.username.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.username.auto_id }}">
                {{ form.username.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.username }}
                  <i class="ion ion-ios-medical item-required"></i>
                </div>
                {{ form.username.help_text }}
                {% include 'base/form_errors.html' with form_errors=form.username.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.first_name.auto_id }}">
                {{ form.first_name.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.first_name }}
                  <i class="ion ion-ios-medical item-required"></i>
                </div>
                {% include 'base/form_errors.html' with form_errors=form.first_name.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.last_name.auto_id }}">
                {{ form.last_name.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.last_name }}
                  <i class="ion ion-ios-medical item-required"></i>
                </div>
                {% include 'base/form_errors.html' with form_errors=form.last_name.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.email.auto_id }}">
                {{ form.email.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.email }}
                  <i class="ion ion-ios-medical item-required"></i>
                </div>
                {% include 'base/form_errors.html' with form_errors=form.email.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.phone.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.phone.auto_id }}">
                {{ form.phone.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.phone }}
                  <i class="ion ion-ios-medical item-required"></i>
                </div>
                {{ form.phone.help_text }}
                {% include 'base/form_errors.html' with form_errors=form.phone.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.profession.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.profession.auto_id }}">
                {{ form.profession.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.profession }}
                  <i class="ion ion-ios-medical item-required"></i>
                </div>
                {% include 'base/form_errors.html' with form_errors=form.profession.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.organization.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.organization.auto_id }}">
                {{ form.organization.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.organization }}
                </div>
                {% include 'base/form_errors.html' with form_errors=form.organization.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.twitter_account.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.twitter_account.auto_id }}">
                {{ form.twitter_account.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.twitter_account }}
                </div>
                {% include 'base/form_errors.html' with form_errors=form.twitter_account.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.facebook_account.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.facebook_account.auto_id }}">
                {{ form.facebook_account.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.facebook_account }}
                </div>
                {% include 'base/form_errors.html' with form_errors=form.facebook_account.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
        </div>

        {% include 'base/location.html' %}

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.password.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.password.auto_id }}">
                {{ form.password.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.password }}
                  <i class="ion ion-ios-medical item-required"></i>
                </div>
                {% include 'base/form_errors.html' with form_errors=form.password.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.confirm_password.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.confirm_password.auto_id }}">
                {{ form.confirm_password.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.confirm_password }}
                  <i class="ion ion-ios-medical item-required"></i>
                </div>
                {% include 'base/form_errors.html' with form_errors=form.confirm_password.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.captcha.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.captcha.auto_id }}">
                {{ form.captcha.label_tag }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.captcha }}
                  <i class="glyphicon glyphicon-refresh js-captcha-refresh" data-toggle="tooltip"
                    title="Presione para recargar la imagen del captcha">
                  </i>
                  <i class="ion ion-ios-medical item-required" data-toggle="tooltip"
                    title="Este campo es obligatorio"></i>
                </div>
                {% include 'base/form_errors.html' with form_errors=form.captcha.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
        </div>

        <div class="text-right">
          <button type="reset" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Limpiar' %}</button>
          <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">{% if not form.instance.pk %}{% trans 'Registrar' %}{% else %}{% trans 'Actualizar' %}{% endif %}</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
{% block extra_footer %}
  <script type="text/javascript">
    $('.js-captcha-refresh').click(function () {
      $.getJSON("/captcha/refresh/", function (result) {
        $('.captcha').attr('src', result['image_url']);
        $('#id_captcha_0').val(result['key'])
      });
    });
  </script>
{% endblock %}
