{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Usuario' %}{% endblock %}
{% block contenido %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="text-left">Perfil del Usuario</h4>
    </div>
    <div class="panel-body">
      <p>Usuario: {{ object.username }}</p>
      <p>Nombres: {{ object.first_name }}</p>
      <p>Apellidos: {{ object.last_name }}</p>
      <p>Correo: {{ object.email }}</p>
      <p>Teléfono: {{ object.perfil.telefono }}</p>
      <p>Profesión: {{ object.perfil.profesion }}</p>
      <p>Organización: {{ object.perfil.organizacion }}</p>
      <p>Cuenta de Facebook: {{ object.perfil.cuenta_facebook }}</p>
      <p>Cuenta de Twitter: {{ object.perfil.cuenta_twitter }}</p>
      <p>Nivel del Usuario: {{ object.perfil.get_nivel_display }}</p>
      <p>Estado: {{ object.perfil.ubicacion.parroquia.municipio.estado }}</p>
      <p>Municipio: {{ object.perfil.ubicacion.parroquia.municipio }}</p>
      <p>Parroquia: {{ object.perfil.ubicacion.parroquia }}</p>
      <p>Dirección: {{ object.perfil.ubicacion.direccion }}</p>
      <div class="text-center">
        <a href="{% url 'base:inicio' %}" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Inicio' %}</a>
      </div>
    </div>
  </div>
{% endblock %}
