{% load i18n %}
<div id="footer">
	<p class="legal">
	< <a href="/licencia/">{% trans "Licencia" %}</a> >&nbsp;< <a href="/acercade/">{% trans "Acerca de..." %}</a> >
	<p class="links">
    <a href="http://www.djangoproject.org"><img src="/site_media/images/80x15-django-powered-234f32.png"/></a>
    &nbsp;
    <a href="http://www.python.org"><img src="/site_media/images/python_80x15.png"/></a>
    &nbsp;
    <a href="http://sofi.cenditel.gob.ve"><img src="/site_media/images/sofi_80x15.png"/></a>
	</p>
</div>

