{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Perfil de usuario" %}{% endblock %}

{% block body %}
<div>
	<div>
		<h3>{% trans "Perfil de usuario para" %} {{ profile.user }}: </h3>
		<table> 
<!--			<tr>
				<th align="left">{% trans "Usuario:" %}</th>
				<td>{{ profile.user }} </td>
			</tr>
-->			<tr>
				<th align="left">{% trans "Nombre:" %}</th>
				<td>{{ profile.nombre }} </td>
			</tr>
			<tr>
				<th align="left">{% trans "Apellido:" %}</th>
				<td>{{ profile.apellido }} </td>
			</tr>
			<tr>
				<th align="left">{% trans "E-mail:" %}</th>
				<td>{{ profile.user.email }} </td>
			</tr>
			
			{% if profile.user|lower == user.username|lower %}
			<tr>
				<th align="left">{% trans "ID:" %}</th>
				<td>{{ profile.cedula }} </td>
			</tr>
			<tr>
				<th align="left">{% trans "Profesión:" %}</th>
				<td>{{ profile.profesion }} </td>
			</tr>
			<tr>
				<th align="left">{% trans "Organización:" %}</th>
				<td>{{ profile.organizacion }} </td>
			</tr>
			<tr>
				<th align="left">{% trans "Twitter:" %}</th>
				<td>{{ profile.cta_twitter }} </td>
			</tr>
			<tr>
				<th align="left">{% trans "Facebook:" %}</th>
				<td>{{ profile.cta_facebook }} </td>
			</tr>
			<tr>
				<th align="left">{% trans "Recibir información:" %}</th>
				<td>{{ profile.informacion }} </td>
			</tr>
			{% endif %}
			<tr>
				<th align="left">{% trans "Nacionalidad:" %}</th>
				<td>{{ profile.nacionalidad }} </td>
			</tr>

		</table>
	</div>
</div>

{% endblock %}
