{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Perfil de usuario" %}{% endblock %}
{% block content %}
		<h3>{% trans "Perfil de usuario para" %} ({{ profile.user }}) </h3>
		<table> 
			<tr>
				<th align="left">{% trans "Username" %}</th>
				<td>{{profile.user}} </td>
			</tr>
			<tr>
				<th align="left">{% trans "Nombre" %}</th>
				<td>{{profile.nombre}} </td>
			</tr>
			<tr>
				<th align="left">{% trans "Apellido" %}</th>
				<td>{{profile.apellido}} </td>
			</tr>
			<tr>
				<th align="left">{% trans "E-mail:" %}</th>
				<td>{{ profile.user.email }} </td>
			</tr>
			<tr>
				<th align="left">{% trans "Nacionalidad" %}</th>
				<td>{{profile.Nacionalidad}} </td>
			</tr>
		</table>
		<br>
{% endblock %}
