{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Certificados' %}{% endblock %}
{% block contenido %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="text-left">Listar <a href="{% url 'evento:certificado_registrar' %}" class="btn btn-success btn-sm pull-right">Registrar</a></h4>
    </div>

    <div class="panel-body">
      <div class="row table-responsive">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <table class="table table-striped table-hover table-bordered display dataTable" id="tabla">
            <thead>
              <tr>
                <th>Imagen Delantera</th>
                <th>Imagen Tracera</th>
                <th>Coordenada Y del Nombre del Suscriptor</th>
                <th>Temática</th>
                <th>Evento</th>
                <th>Otorgar Certificados</th>
                <th>Operación</th>
              </tr>
            </thead>
            <tbody>
              {% for ce in object_list %}
                <tr>
                  <td> <img src="/evento/media/{{ ce.imagen_delantera }}" width="100px" height="100px"> </td>
                  <td> <img src="/evento/media/{{ ce.imagen_tracera }}" width="100px" height="100px"> </td>
                  <td> {{ ce.coordenada_y_nombre }} </td>
                  <td> {{ ce.tematica }} </td>
                  <td> {{ ce.evento }} </td>
                  <td> <a href="{% url 'evento:certificado' ce.evento.id %}">Otorgar</a> </td>
                  <td> <a href="{% url 'evento:certificado_actualizar' ce.id %}" data-toggle="tooltip" title="Actualizar"><i class="fa fa-pencil"></i></a> <a href="{% url 'evento:certificado_eliminar' ce.id %}" data-toggle="tooltip" title="Eliminar"><i class="fa fa-remove"></i></a> </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_footer %}
  <script type="text/javascript">
    $(document).ready(function() {
      var tabla= $('#tabla').DataTable();
    });
  </script>
{% endblock %}
