{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Eventos' %}{% endblock %}
{% block contenido %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="text-left">Detalle del Evento</h4>
    </div>
    <div class="panel-body">
      <p>Organizador: {{ object.user.first_name }} {{ object.user.last_name }}, {{ object.user.username }}
      <p>Nombre: {{ object.nombre }}</p>
      <p>Resumen: {{ object.resumen }}</p>
      <p>lugar: {{ object.lugar }}</p>
      <p>Correo: {{ object.correo }}</p>
      <p>Cuenta de Facebook: {{ object.cuenta_facebook }}</p>
      <p>Cuenta de Twitter: {{ object.cuenta_twitter }}</p>
      <p>¿Permitir Presentaciones? {% if object.presentacion %} Si {% else %} No {% endif %}</p>
      <p>¿Permitir Suscripciones? {% if object.suscripcion %} Si {% else %} No {% endif %}</p>
      <p>¿Permitir que el evento sea público? {% if object.publicacion %} Si {% else %} No {% endif %}</p>
      <p>¿Permitir que los usuarios hagan comentarios acerca del evento? {% if object.comentario %} Si {% else %} No {% endif %}</p>
      <p>Fecha de la realización del evento: {{ object.fecha }}</p>
      <p>Fecha Inicial: {{ object.fecha_inicial }}</p>
      <p>Fecha Final: {{ object.fecha_final }}</p>
      <p><img src="/evento/media/{{ object.logo }}"></p>
      <div class="text-center">
        <a href="{% url 'base:inicio' %}" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Inicio' %}</a>
      </div>
    </div>
  </div>
{% endblock %}
