{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Eventos' %}{% endblock %}
{% block contenido %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="text-left">{% if not form.instance.pk %}{% trans 'Registrar' %}{% else %}{% trans 'Actualizar' %}{% endif %}</h4>
    </div>
    <div class="panel-body">
      <form action="" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.nombre.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nombre.auto_id }}">
                {{ form.nombre.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.nombre }}
                  <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.nombre.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.resumen.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.resumen.auto_id }}">
                {{ form.resumen.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.resumen }}
                  <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.resumen.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.correo.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.correo.auto_id }}">
                {{ form.correo.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.correo }}
                  <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.correo.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.logo.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.logo.auto_id }}">
                {{ form.logo.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.logo }}
                  <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.logo.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.video.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.video.auto_id }}">
                {{ form.video.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.video }}
                  <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.video.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.cuenta_facebook.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cuenta_facebook.auto_id }}">
                {{ form.cuenta_facebook.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.cuenta_facebook }}
                  <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.cuenta_facebook.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.cuenta_twitter.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cuenta_twitter.auto_id }}">
                {{ form.cuenta_twitter.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.cuenta_twitter }}
                  <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.cuenta_twitter.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.presentacion.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.presentacion.auto_id }}">
                {{ form.presentacion.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.presentacion }}
                  <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.presentacion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.suscripcion.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.suscripcion.auto_id }}">
                {{ form.suscripcion.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.suscripcion }}
                  <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.suscripcion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.publicacion.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.publicacion.auto_id }}">
                {{ form.publicacion.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.publicacion }}
                  <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.publicacion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.comentario.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.comentario.auto_id }}">
                {{ form.comentario.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.comentario }}
                  <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.comentario.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.fecha.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.fecha.auto_id }}">
                {{ form.fecha.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.fecha }}
                  <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.fecha.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.fecha_inicial.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.fecha_inicial.auto_id }}">
                {{ form.fecha_inicial.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.fecha_inicial }}
                  <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.fecha_inicial.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.fecha_final.errors %}has-error{% endif %}">
              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.fecha_final.auto_id }}">
                {{ form.fecha_final.label }}
              </label>
              <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                  {{ form.fecha_final }}
                  <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.fecha_final.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
              </div>
            </div>
          </div>
        </div>

        {% include 'base/ubicacion.html' %}

        <div class="text-right">
          <button type="reset" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Limpiar' %}</button>
          <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">{% if not form.instance.pk %}{% trans 'Registrar' %}{% else %}{% trans 'Actualizar' %}{% endif %}</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block extra_footer %}
  <script type="text/javascript">
    $('.datepicker').datepicker({
      format: "yyyy-mm-dd",
      language: "es",
      autoclose: true,
      todayHighlight: true,
    });
  </script>
{% endblock %}
