{% extends "base.html" %}
{% load i18n %}
{% load comments i18n %}
{% block head_title %}{% trans "Comentario" %}{% endblock %}

{% block extra_head%}
        <style type="text/css">
            
            form {
                background-color: #f5f5f5;
                width: 350px;
                padding-left: 20px;
                border: solid 1px;
                #margin-left: 20px;
                text-align: left;
            }
            ul.errorlist {
                margin: 0;
                padding: 0;
            }
            .errorlist li {
                background-color: red;
                color: white;
                display: block;
                font-size: 10px;
                margin: 0 0 3px;
                padding: 4px 5px;
                width: 170px;
            }
        </style>
{% endblock %}

{% block body %}

<div id="id">
  <h3>{% trans "Comentario" %}</h3>
  <br />
  <form action="{% comment_form_target %}" method="post">{% csrf_token %}
    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
    {% if form.errors %}
    <h3>{% blocktrans count form.errors|length as counter %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h3>
    {% else %}
    <h3>{% trans "Preview your comment" %}</h3>
      <blockquote>{{ comment|linebreaks }}</blockquote>
      <p> 
      {% trans "and" %} <input type="submit" name="submit" class="submit-post" value="{% trans "Post your comment" %}" id="submit" /> {% trans "or make changes" %}:
      </p>
    {% endif %}
    {% for field in form %}
      {% if field.is_hidden %}
        {{ field }}
      {% else %}
        {% if field.errors %}{{ field.errors }}{% endif %}
        <p
          {% if field.errors %} class="error"{% endif %}
          {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
          {{ field.label_tag }}
          <br>
          {{ field }}
        </p>
      {% endif %}
    {% endfor %}
    <p class="submit">
    <input type="submit" name="submit" class="submit-post" value="{% trans "Post" %}" />
    </p>
  </form>
</div>
{% endblock %}