{% load i18n %}
{% for message in messages %}
  {% if message %}
    <script>
      var msg = "{{ message }}";
      var modal = bootbox.dialog({
        size: "medium",
        title: "Información",
        message: msg,
        backdrop: true,
        buttons: {
          success: {
            label: "{% trans 'Cerrar' %}",
            className: "btn-info rounded text-light"
          }
        }
      });
      $(modal).find(".bootbox-body").addClass('text-justify');
    </script>
  {% endif %}
{% endfor %}