<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load auth_extra %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"es-ve" }}">
  {% include 'base/head.html' %}
  <body>

    <!-- Container
    ================================================== -->
    <div class="containerr container-2">

      <!-- navbar cintillo
      ================================================== -->
      <nav class="navbar navbar-default navbar-fixed-top navbar-cintillo">
      <div class="container">
        <div align="center">
          <img class="cintillo_up" src="{% static 'img/cintillo_2018.png' %}" width="100%"></img>
        </div>
      </div>
      </nav>
      <!-- navbar cintillo end -->
      <br />

      <div class="well well-footer" align="center">
        <a href="/" target="_blank">
          <img src="{% static 'img/logo_sofi.png' %}" width="20%"></img>
        </a>
      </div>

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'base:home' %}">Sofi</a>
          </div>
          {% if request.user.is_authenticated %}
            {% if request.user|has_group:'Organizador' %}
              <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Menú<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'event:list' %}">Evento</a></li>
                    <li><a href="{% url 'event:certificate_list' %}">Certificado</a></li>
                  </ul>
                </li>
              </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user fa-lg" aria-hidden="true"></i> {{ request.user.username }}</a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'user:update' request.user.id %}"> Perfil</a></li>
                  <li><a href="{% url 'user:password_change' %}"> Cambiar Contraseña</a></li>
                  <li><a href="{% url 'user:logout' %}"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Salir</a></li>
                </ul>
              </li>
            </ul>
          {% else %}
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'user:login' %}"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Iniciar Sesión</a></li>
            </ul>
          {% endif %}
        </div>
      </nav>

      <div class="container-fluid">
        <!--h2>{% block content_header_title %}{% trans 'Página Principal' %}{% endblock %}</h2-->
        {% block content %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="text-center">Eventos</h4>
            </div>
            <div class="panel-body">
              {% for ev in event %}
                {% if ev.publication %}
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <h3><strong><a href="{% url 'event:detail' ev.id %}">{{ ev.name }}</a></strong></h3>
                      {% if ev.logo %}
                        <p><img src="/evento/media/{{ ev.logo }}" width="200px" height="200px"></p>
                      {% endif %}
                      <h4>Resumen:</h4>
                      <p>{{ ev.summary }}</p>
                      <h4>Lugar:</h4>
                      <p>{{ ev.location.parish.municipality.state }}, {{ ev.location.parish.municipality }}, {{ ev.location.parish }}, {{ ev.location.address }}</p>
                      <h4>Fecha:</h4>
                      <p>Desde el {{ ev.start_date }} al {{ ev.end_date }}</p>
                      <h4>Hora:</h4>
                      <p>{{ ev.time }}</p>
                      <div class="text-right">
                        <a href="{% url 'event:certificate_download' ev.id %}" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Descargar' %}</a>
                        {% if ev.subscription %}<a href="{% url 'event:subscribe' ev.id %}" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Suscribir' %}</a>{% endif %}
                        <a href="{% url 'event:subscribe_report' ev.id %}" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Suscriptores' %}</a>
                      </div>
                      <hr>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endblock %}
      </div>
      {% include 'base/footer.html' %}
      {% block extra_footer %}

      {% endblock %}

      <div class="well well-footer">
        <div align="center">
          <b>
            <a href="http://www.cenditel.gob.ve" target="_blank">
              <b>Desarrollado en el Centro Nacional de Desarrollo e Investigacion en Tecnologias Libres - CENDITEL</b>
            </a>
            <br />
            <br />
            <a href="http://conocimientolibre.cenditel.gob.ve/licencias/" target="_blank">
              <img src="{% static 'img/lc-lc.png' %}" width="100px"></img>
            </a>
            <a href="http://conocimientolibre.cenditel.gob.ve/licencia-de-software-v-1-3/" target="_blank">
              <img src="{% static 'img/lc-ls-icon.png' %}" width="100px"></img>
            </a>
          </b>
        </div>
      </div>

    </div>
    <!-- Container End -->

  </body>
</html>
