<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"es-ve" }}">
  {% include 'base/head.html' %}
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'base:inicio' %}">{{ app_name }}</a>
        </div>
        {% if request.user.is_authenticated %}
          {% if request.user.perfil.nivel == 1 %}
            <ul class="nav navbar-nav">
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Menú<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'evento:listar' %}">Evento</a></li>
                  <li><a href="{% url 'evento:certificado_listar' %}">Certificado</a></li>
                </ul>
              </li>
            </ul>
          {% endif %}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user fa-lg" aria-hidden="true"></i> {{ request.user.username }}</a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'usuario:actualizar' request.user.id %}"> Perfil</a></li>
                <li><a href="{% url 'usuario:password_change' %}"> Cambiar Clave</a></li>
                <li><a href="{% url 'usuario:logout' %}"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Salir</a></li>
              </ul>
            </li>
          </ul>
        {% else %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'usuario:login' %}"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Iniciar Sesión</a></li>
          </ul>
        {% endif %}
      </div>
    </nav>

    <div class="container-fluid">
      <h2>{% block content_header_title %}{% trans 'Página Principal' %}{% endblock %}</h2>
      {% block contenido %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="text-center">Eventos</h4>
          </div>
          <div class="panel-body">
            {% for ev in evento %}
              {% if ev.publicacion %}
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3><strong>{{ ev.nombre }}</strong></h3>
                    <h4>Resumen:</h4>
                    <p>{{ ev.resumen }}</p>
                    <h4>Lugar:</h4>
                    <p>{{ ev.lugar }}</p>
                    <h4>Fecha:</h4>
                    <p>Desde el {{ ev.fecha_inicial }} al {{ ev.fecha_final }}</p>
                    <div class="text-right">
                      {% if ev.suscripcion %}<a href="{% url 'evento:suscribir' ev.id %}" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Suscribir' %}</a>{% endif %}
                      <a href="{% url 'evento:suscribir_reporte' ev.id %}" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Suscriptores' %}</a>
                    </div>
                    <hr>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endblock %}
    </div>
    {% include 'base/footer.html' %}
    {% block extra_footer %}{% endblock %}
  </body>
</html>
