<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6">
    <div class="form-group {% if form.estado.errors %}has-error{% endif %}">
      <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.estado.auto_id }}">
        {{ form.estado.label }}
      </label>
      <div class="col-md-9 col-xs-9 col-sm-9">
        <div class="form-inline">
          {{ form.estado }}
          <i class="ion ion-ios-medical item-requerido"></i>
        </div>
        {% include 'base/form.errors.html' with form_errors=form.estado.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <div class="form-group {% if form.municipio.errors %}has-error{% endif %}">
      <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.municipio.auto_id }}">
        {{ form.municipio.label }}
      </label>
      <div class="col-md-9 col-xs-9 col-sm-9">
        <div class="form-inline">
          {{ form.municipio }}
          <i class="ion ion-ios-medical item-requerido"></i>
        </div>
        {% include 'base/form.errors.html' with form_errors=form.municipio.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6">
    <div class="form-group {% if form.parroquia.errors %}has-error{% endif %}">
      <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.parroquia.auto_id }}">
        {{ form.parroquia.label }}
      </label>
      <div class="col-md-9 col-xs-9 col-sm-9">
        <div class="form-inline">
          {{ form.parroquia }}
          <i class="ion ion-ios-medical item-requerido"></i>
        </div>
        {% include 'base/form.errors.html' with form_errors=form.parroquia.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <div class="form-group {% if form.direccion.errors %}has-error{% endif %}">
      <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.direccion.auto_id }}">
        {{ form.direccion.label }}
      </label>
      <div class="col-md-9 col-xs-9 col-sm-9">
        <div class="form-inline">
          {{ form.direccion }}
          <i class="ion ion-ios-medical item-requerido"></i>
        </div>
        {% include 'base/form.errors.html' with form_errors=form.direccion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
      </div>
    </div>
  </div>
</div>
