{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Reporte" %}{% endblock %}

{% block body %}
    {% include "evento/encabezado_evento.html" %}
    {% if suscriptores %}
            <div id="reporte">
                <p><h3>{% trans "Suscriptores" %}</h3></p>
                <table>
                    <thead>
                        <tr>
                            <td>#</td>
                            <td class="negrita">{% trans "Usuario" %}</td>
                            <td class="negrita">{% trans "Organización" %}</td>
                            <td class="negrita">{% trans "Nacionalidad" %}</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for suscriptor in suscriptores %}
                        <tr>
                            <td class="negrita">{{forloop.counter}}</td>
                            <td><a href="/profiles/{{suscriptor.suscriptor.user}}">{{suscriptor.suscriptor.user}}</a></td>
                            <td>{{suscriptor.suscriptor.organizacion|title}}</td>
                            <td>{{suscriptor.suscriptor.nacionalidad|upper}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    {% endif %}
{% endblock %}
