{% extends "base.html" %}
{% load i18n %}
{% load comments i18n %}
{% load app %}
{% block head_title %}{% trans "Comentarios" %}{% endblock %}

{% block extra_head%}
        <style type="text/css">
            
            form {
                background-color: #f5f5f5;
                width: 350px;
                padding-left: 20px;
                border: solid 1px;
                #margin-left: 20px;
                text-align: left;
            }

            .comentario {
                background-color: #f7ffd9; /*#feffe4;*/
                border: solid 1px;
                border-color: #bcd35f;
                margin-bottom: 8px;
                text-align: left;
                
            }

            .comentariohijo {
                background-color: #feffe4;
                border: solid 1px;
                border-color: #bcd35f;
                margin-bottom: 8px;
                text-align: left;
                
            }
            
/*            #comentario {
                text-align: left;
            }
*/            
            #comentadopor {
                /*font-size: 10px;*/
                /*font-weight: bold;*/
                color: #6b8017;
                
            }

        </style>

{% endblock %}

{% block body %}
    {% include "evento/encabezado_evento.html" %}
            
            <div id="comentario">
                
                
                {% get_comment_list for objeto as cm1 %}

                    {% for cmm1 in cm1 %}
                        <label style="font-size: 10px;">{{ forloop.counter }}.</label>
                        <div id="c{{ cmm1.id }}" class="comentario">
    
                            <p  style="white-space:pre;">{{ cmm1.comment }}</p>
                            <label title="{% trans "comentar" %}" style="color: #6b8017;font-weight:bold;text-align:right; background: url({% media_url %}images/childish_Brush.png) no-repeat" onclick="javascript:$('#cmm1{{ cmm1.id }}').show();">&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <label id="comentadopor">{% trans "comentario por" %} {{ cmm1.user_name|title }} - {{ cmm1.submit_date|date:"d F Y P" }}</label>
                        </div>
                        

                        {% get_comment_form for cmm1 as form %}
                        <form action="{% comment_form_target %}" method="post" id="cmm1{{ cmm1.id }}">{% csrf_token %}
                          {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
                          {% for field in form %}
                            {% if field.is_hidden %}
                              {{ field }}
                            {% else %}
                              {% if field.errors %}{{ field.errors }}{% endif %}
                              <p  
                                {% if field.errors %} class="error"{% endif %}
                                {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                                {{ field.label_tag }}
                                <br/>
                                {{ field }}
                              </p>
                            {% endif %}
                          {% endfor %}
                          <input type="hidden" name="instancia_evento" id="instancia_evento_id" value="{{ evento.id }}">
                          <p class="submit">
                            <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
                          </p>
                        </form>
                        <script type="text/javascript">
                            $('#cmm1{{ cmm1.id }}').hide();
                        </script>
                        
                        
                        
                        {% get_comment_list for cmm1 as cm2  %}

                        {% for cmm2 in cm2 %}
                            <label style="font-size: 10px;margin-left:15px;">{{ forloop.counter }}.</label>
                            <div id="c{{ cmm2.id }}" class="comentariohijo" style="margin-left:15px;">
        
                                <p  style="white-space:pre;">{{ cmm2.comment }}</p>
                                <label title="{% trans "comentar" %}" style="color: #6b8017;font-weight:bold;text-align:right; background: url({% media_url %}images/childish_Brush.png) no-repeat" onclick="javascript:$('#cmm2{{ cmm2.id }}').show();">&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <label id="comentadopor">{% trans "comentario por" %} {{ cmm2.user_name|title }} - {{ cmm2.submit_date|date:"d F Y P" }}</label>
                            </div>
                            {% get_comment_form for cmm2 as form %}
                            <form action="{% comment_form_target %}" method="post" id="cmm2{{ cmm2.id }}" style="margin-left:15px;">{% csrf_token %}
                              {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
                              {% for field in form %}
                                {% if field.is_hidden %}
                                  {{ field }}
                                {% else %}
                                  {% if field.errors %}{{ field.errors }}{% endif %}
                                  <p  
                                    {% if field.errors %} class="error"{% endif %}
                                    {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                                    {{ field.label_tag }}
                                    <br/>
                                    {{ field }}
                                  </p>
                                {% endif %}
                              {% endfor %}
                              <input type="hidden" name="instancia_evento" id="instancia_evento_id" value="{{ evento.id }}">
                              <p class="submit">
                                <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
                              </p>
                            </form>
                            <script type="text/javascript">
                                $('#cmm2{{ cmm2.id }}').hide();
                            </script>


                            {% get_comment_list for cmm2 as cm3  %}
    
                            {% for cmm3 in cm3 %}
                                <label style="font-size: 10px;margin-left:30px;">{{ forloop.counter }}.</label>
                                <div id="c{{ cmm3.id }}" class="comentariohijo" style="margin-left:30px;">
            
                                    <p  style="white-space:pre;">{{ cmm3.comment }}</p>
                                    <label id="comentadopor">{% trans "comentario por" %} {{ cmm3.user_name|title }} - {{ cmm3.submit_date|date:"d F Y P" }}</label>
                                </div>
                            {% endfor %}


                        {% endfor %}
                        
                    {% endfor %}
                <br />
                
                <h3><label title="{% trans "comentar" %}" style="background: url({% media_url %}images/childish_Brush.png) no-repeat" onclick="javascript:$('#eventoc').show();">{% trans "Dejar comentario sobre el Evento" %}</label></h3>

                {% get_comment_form for objeto as form %}
                <form action="{% comment_form_target %}" method="post" id="eventoc">{% csrf_token %}
                  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
                  {% for field in form %}
                    {% if field.is_hidden %}
                      {{ field }}
                    {% else %}
                      {% if field.errors %}{{ field.errors }}{% endif %}
                      <p  
                        {% if field.errors %} class="error"{% endif %}
                        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                        {{ field.label_tag }}
                        <br/>
                        {{ field }}
                      </p>
                    {% endif %}
                  {% endfor %}
                  <input type="hidden" name="instancia_evento" id="instancia_evento_id" value="{{ evento.id }}">
                  <p class="submit">
                    <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
                  </p>
                </form>
                <script type="text/javascript">
                    $('#eventoc').hide();
                </script>

<!--                {% render_comment_form for objeto %}            -->
                </div>


{% endblock %}
